
# Backups
backups/
*.zip
*.bak

# Cache
cache/
web_profile/cache/
siakad_app/cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.sql
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# Secret Documentation
*.md
!README.md
!PANDUAN_DEPLOYMENT.md

# Sensitive Credentials
google-credentials.json
web_profile/test_email.py
*.json
!package.json
!tsconfig.json
