
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.sql
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# Secret Documentation
ACCESS_CREDENTIALS.md
DEPLOYMENT_GUIDE.md
PANDUAN_GOOGLE_SHEETS.md
PANDUAN_EMAIL_SMTP.md

# Sensitive Credentials
google-credentials.json
web_profile/test_email.py
*.json
!package.json
!tsconfig.json
