pytz
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
email_validator
psycopg2-binary
argon2-cffi
python-dotenv
gunicorn
zopfli
Flask-Limiter
Flask-Talisman
Flask-Caching
Flask-Compress
Pillow
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
Flask-Mail
