
body {
    font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
}

.hero-section {
    position: relative;
    color: white;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.bg-success {
    background-color: #198754 !important;
}

.text-success {
    color: #198754 !important;
}

.btn-success {
    background-color: #198754;
    border-color: #198754;
}

.btn-outline-success {
    color: #198754;
    border-color: #198754;
}

.btn-outline-success:hover {
    background-color: #198754;
    color: white;
}
