[Unit]
Description=Gunicorn instance to serve SIAKAD App
After=network.target

[Service]
User=www-data
Group=www-data

WorkingDirectory=/var/www/Albarokah-SIAKAD/siakad_app
Environment="PATH=/var/www/Albarokah-SIAKAD/siakad_app/.venv/bin"
# EnvironmentFile=/var/www/Albarokah-SIAKAD/siakad_app/.env

ExecStart=/var/www/Albarokah-SIAKAD/siakad_app/.venv/bin/gunicorn --workers 4 --timeout 600 --bind 127.0.0.1:8000 run:app

[Install]
WantedBy=multi-user.target
