[Unit]
Description=Gunicorn instance to serve Web Profile
After=network.target

[Service]
# User yang menjalankan aplikasi
User=ubuntu
# Group=www-data

# Direktori kerja aplikasi
WorkingDirectory=/home/ubuntu/albarokah/web_profile

# Environment variables
Environment="PATH=/home/ubuntu/albarokah/web_profile/.venv/bin"
EnvironmentFile=/home/ubuntu/albarokah/web_profile/.env

# Perintah menjalankan Gunicorn
# -w 4: 4 worker processes
# -b 127.0.0.1:8001: Bind ke localhost port 8001 (Internal)
ExecStart=/home/ubuntu/albarokah/web_profile/.venv/bin/gunicorn --workers 4 --bind 127.0.0.1:8001 run:app

[Install]
WantedBy=multi-user.target
